@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

html,body {
    height: 100%;
    font-family: 'Lora' !important;
    background-color: #f1f1f1;
}

.search1{
   height: 500px;
   background: url("../resources/books.jpg") !important;
    background-size: cover !important;
}

#search-home{
    height: 48px;
    width: 60%;
    border: none;
    outline: none;
    background-color: white;
    padding: 15px;
    border-radius: 5px 0px 0px 5px;
    font-size: 1rem;
}

#search-submit{
    height:48px;
    margin-left:-5px !important;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    outline: none;
    border-radius: 0px 5px 5px 0px;
    margin-top: -20px !important;
}

.motto {
    color: white;
    margin-bottom: 50px;
    font-size: 32pt;
}

@media only screen and (max-width: 600px) {
    .motto {
        font-size: 18pt;
    }
}