{% include 'navbar.html' %}
<head>
    <meta charset="UTF-8">
    <title>Libro</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/libro.css">
</head>
<body>
    <div class="container mt-100 p-3">
        <div class="row">
            <div class="col-auto">
                <img src="{{ book[7] }}" alt="" width="128px">
            </div>
            <div class="col">
                <h2>{{ book[4] }}</h2>
                <span class="titolo-libro">ISBN:</span> <span class="small">{{ book[0] }}</span><br>
                <span class="titolo-libro">Autore(i):</span>
                {% for autore in autori %}
                <span class="small">{{ autore[0] }}{{ autore[1] }}</span><br>
                {% endfor %}
                {% for genere in generi %}
                <span class="titolo-libro">Genere:</span> <span class="small"> {{ genere[0] }} </span><br>
                {% endfor %}
                {% for editore in editori %}
                <span class="titolo-libro">Editore:</span> <span class="small">{{ editore[0] }}</span><br>
                {% endfor %}
                <span class="titolo-libro">Edizione:</span> <span class="small">{{ book[6] }}</span><br>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="mb-3 mt-3 commutatore" id="accordion">
                    <div class="card card-commutatore">
                        <div class="card-header card-header-commutatore p-0" id="headingOne">
                             <h5 class="mb-0">
                                 <button class="btn btn-link button-header-commutatore p-0" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="fs-5" style="vertical-align: middle">Descrizione</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                 </button>
                             </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                {{ book[9] }}
                            </div>
                        </div>
                    </div>
                </div>
                <h6 class="titolo-libro">Disponibile qui:</h6>
                <table class="mt-3">
                 <tr>
                     <th class="p-0 pb-1 pt-1">Biblioteca</th>
                     <th class="p-0">Quantità</th>
                     <th class="p-0"></th>
                 </tr>
                    {% for disponibile in disponibili %}
                    <tr>
                    <th class="p-0"><a href="{{ url_for('biblioteca.get_biblioteca', bibid=disponibile[0]) }}">{{ disponibile[1] }}</a></th>
                    <th class="p-0">{{ disponibile[2] }}</th>
                    <th>
                        <form class="prenota" id="prenota{{ disponibile[0] }}">
                            <input type="hidden" id="bib" name="bib" value="{{ disponibile[0] }}">
                            <input type="hidden" id="isbn" name="isbn" value="{{ book[0] }}">
                            <input class="button-prenota" type="submit" value="PRENOTA" id="btn_prenota{{ disponibile[0] }}">
                        </form>
                    </th>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div> <!-- end container -->


<script>

    // Attach a submit handler to the form
  // Attach a submit handler to the form

$('.prenota').submit(function(e) {
    e.preventDefault();
    $.ajax({
        url: '{{ url_for('biblioteca.prenota_libro') }}',
        data: $(this).serialize(),
        type: 'POST',
        success: function(data) {

            if(data.status === 'ok'){
                document.getElementById("btn_prenota"+data.bib).value = 'PRENOTATO'
                document.getElementById("btn_prenota"+data.bib).style.backgroundColor = 'lightgray'

                 setTimeout(function(){
                    window.location.reload()
                    }, 2000);

            }

            if (data.status === 'alreadybooked'){
                alert(data.msg)
            }

        },
        error: function (){
            alert("error")
        },
    });
});

</script>

</body>