 {% include 'navbar.html' %}

<head>
    <meta charset="UTF-8">
    <title>La tua libreria</title>
    <link rel="stylesheet" href="../../static/css/libreria_utente.css">
</head>
<body>

<div class="container-fluid u-page-title-container">
    <h5>Le tue prenotazioni</h5>
</div>

{% if prenotazioni == [] %}
    <div class="container justify-content-center align-items-center text-center mt-100">
        <h1>Ops! Sembra non esserci nessuna prenotazione.</h1>
        <img class="mt-5" src="../../static/resources/ops_img.png" width="196px">
    </div>
{% endif %}

<div class="container">
    {% for prenotazione in prenotazioni %}
    <div class="row book-row mt-3">
        <div class="col-auto">
            <a class="no-decoration" href="biblioteca/{{ prenotazione[4] }}">
            <h5 class="red">{{ prenotazione[3] }}</h5>
            </a>
        </div>
        <div class="col-auto">
            <span>Prenotazione per il giorno: {{ prenotazione[2] }}</span><br>
            <span>ID: {{ prenotazione[0] }}</span><br>
        </div>
    </div>
    {% endfor %}
</div>

<script>
$('.annullaprenotazione').submit(function(e) {
    e.preventDefault();
    $.ajax({
        url: '{{ url_for('biblioteca.annulla_prenotazione') }}',
        data: $(this).serialize(),
        type: 'POST',
        success: function(data) {

            if(data.status === 'ok'){
                document.getElementById("annullapr_"+data.IDPrestito).value = 'ANNULLATO'
                document.getElementById("annullapr_"+data.IDPrestito).style.backgroundColor = 'lightgray'
                document.getElementById("annullapr_"+data.IDPrestito).style.border = '1px solid lightgray'
                document.getElementById("annullapr_"+data.IDPrestito).style.color = 'gray'
                document.getElementById("annullapr_"+data.IDPrestito).style.pointerEvents = 'none'

                setTimeout(function(){
                    window.location.reload()
                    }, 2000);
            }

            if (data.status === 'error'){
                alert(data.msg)
            }

        },
        error: function (){
            alert("error")
        },
    });
});
</script>

</body>