@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

html,body {
    height: 100%;
    font-family: 'Lora' !important;
    background-color: #f1f1f1 !important;
}

.search-container-home {
   height: 350px;
    margin-top: 49px;
   background: url("../resources/books.jpg") !important;
    background-size: cover !important;
}

#search-bar-home{
    height: 48px;
    width: 60%;
    border: none;
    outline: none;
    background-color: white;
    padding: 15px;
    border-radius: 10px 0px 0px 10px;
    font-size: 1rem;
}

#search-submit{
    height:48px;
    margin-left:-5px !important;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    border-left: 1px solid;
    border-color: #e7e7e7;
    outline: none;
    border-radius: 0px 10px 10px 0px;
    background-color: #CC0000;
    color: white;
}

.motto {
    color: white;
    margin-bottom: 50px;
    font-size: 32pt;
}

.carousel-card  {
    background-color: white !important;
    padding: 20px;
    width: 250px;
    height: 380px;
}

.carousel-card-esplora  {
    background-color: white !important;
    padding: 20px;
    width: 250px;
    height: 280px;
}

.carousel-card-bib  {
    background-color: white !important;
    padding: 20px;
    width: 250px;
    height: 180px;
}

.book-descr {
    color: gray;
}

.book-descr-title {
    color: #CC0000;
}

.book-carousel-image {
    height: 132px;
}

.book-carousel-image-mini {
    width: 64px;
}

.mt-50 {
    margin-top: 50px !important;
}

.carousel-link {
    text-decoration: none;
    color: black;
}

.carousel-link:hover {
    color: #CC0000;
}

@media only screen and (max-width: 480px) {
    .motto {
        font-size: 12pt;
    }

    #search-bar-home {
        width: 70%;
    }

    .search-container-home {
        height: 200px;
        margin-top: 49px;
    }
}