html, body {
    font-family: 'Lora';
}

.titolo-libro {
    color: #CC0000;
}

.info-libro {
    color: black;
}

.mt-100 {
    margin-top: 100px;
}

.commutatore {
    border: 1px solid lightgray;
    padding: 10px;
}

.card-header-commutatore {
    background-color: transparent;
    border: none !important;
}

.card-commutatore {
    border: none;
}

.button-header-commutatore {
    padding: 0 !important;
    text-decoration: none !important;
    color: #CC0000 !important;
}

.button-header-commutatore:focus {
    outline: none;
    box-shadow: none;
}

.button-prenota {
    background-color: #CC0000;
    color: white;
    border: none;
    outline: none;
}

.button-prenota:hover {
    background-color: #960000;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 5px;
    font-weight: normal;
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}