@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

html,body {
    font-family: 'Lora';
}

.navbar {
    background-color: #CC0000;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-brand-image {
    margin-right: 10px;
}

.dropdown-menu {
    border-radius: 0px;
    border: none;
}