.u-page-title-container {
    background-color: #CC0000;
    color: white;
    margin-top: 66px;
    padding: 5px;
    padding-left: 20px;
}

.red-button {
    border: none;
    outline: none;
    background-color: #CC0000;
    color: white;
    border-radius: 0;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;

}

.red-button:hover {
    background-color: #bb0000;
}

.datepicker {
    border: 1px solid lightgray !important;
    padding: 5px !important;
}

.red-a {
    color: #CC0000;
}

.red-a:hover {
    color: #bb0000;
}

.red {
    color: #CC0000;
}

.no-decoration {
    text-decoration: none;
}

.owl-2-style .owl-dots .owl-dot.active span {
    background: #cc0000 !important;
}

.u-mt-50 {
    margin-top: 50px !important;
}

.u-mt-100 {
    margin-top: 100px !important;
}

.u-mt-90 {
    margin-top: 90px !important;
}