@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

html, body {
    font-family: 'Lora';
}

.user-settings a {
    color: black !important;
    text-decoration: none !important;
}

.user-image {
    width: 128px !important;
    border-radius: 50%;
}

.header-user  {
    background-color: #CC0000;
    height: 150px;
    color: black;
}

.profile-head {
    transform: translateY(3rem);
}

.mt-160 {
    margin-top: 160px;
}

.qr-container {
    text-align: left;
    width: 220px;
    padding: 10px;
    border: 1px solid;
    border-color: #CC0000;
    margin-right: 10px;
    margin-left: 0px;
}

.user-stats-container {
    border-color: #CC0000;
    padding: 10px;
}

.user-stats-info {
    vertical-align: middle;
    margin-left: 5px;
}

.newpw_not_corr,
.oldpw_not_corr  {
    color: red;
    display: none;
}

.modal-content {
    border-radius: 0;
    border: none;
}

.close-modal {
    border: none;
    background-color: transparent;
    font-size: 24pt;
    color: white;
}

.modal-header {
    background-color: #CC0000;
    color: white;
    border-radius: 0 !important;
    border: none;
}

.btn-red {
    background-color: #CC0000;
    color: white;
    border-radius: 0;
    border: none;
}

.btn-secondary {
    border-radius: 0 !important;
    border: none;
}

@media only screen and (max-width: 480px) {
    .qr-container {
        text-align: center;
        width: auto;
        padding: 10px;
        border: 1px solid;
        border-color: #CC0000;
        margin-right: 10px;
        margin-left: 10px;
    }

    .center-mobile {
        justify-content: center !important;
        align-items: center;
    }

    .mobile-mt-30 {
        margin-top: 30px !important;
    }

}