{% include 'navbar.html' %}

{% block head %}
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/Homepage1.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">

  <title> EasyBook </title>
{% endblock %}

{% block body %}
<div class="container-fluid">
      <div class="row text-center search-container-home justify-content-center align-content-center">
          <div class="col justify-content-center align-content-center p-0">
              <h2 class="motto">La tua biblioteca a portata di click.</h2>
              <form action="{{ url_for('biblioteca.search') }}" method="GET">
                  <input type="search" placeholder="Cerca libri o biblioteche..." name="search" id="search-bar-home">
                  <button type="submit" id="search-submit"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                    </svg></button>
              </form>
          </div>
      </div>
</div>

<!-- Carosello -->

<div class="container-fluid w-100 justify-content-center mt-3">
    <div class="ms-1">
    <h2>Suggeriti per te</h2>
    </div>
    <div class="site-section bg-left-half mb-5 mt-3 w-100">
        <div class="container owl-2-style w-100 mw-100">
            <div class="full-width-slider owl-carousel owl-2-style w-100">
                {% for book in books %}
                 <div class="media-29101 carousel-card">
                    <div class="text-center">
                    <a class="carousel-link" href="/libro/{{ book[0] }}">
                    <img class="book-carousel-image" src="{{ book[7] }}" alt="Image">
                    </a>
                    </div>
                    <a class="carousel-link" href="/libro/{{ book[0] }}">
                    <h5 class="book-title fw-bolder">{{ book[4] }}</h5>
                    </a>
                    <span class="book-descr-title small">ISBN:</span> <span class="book-descr small">{{ book[0] }}</span><br>
                    <span class="book-descr-title small">Autore(i):</span> <span class="book-descr small">{{ book[10] }}&nbsp;{{ book[11] }}</span><br>
                    <span class="book-descr-title small">Genere:</span><span class="book-descr small">{{ book[14] }}</span><br>
                    <span class="book-descr-title small">Edizione:</span> <span class="book-descr small">{{ book[6] }}</span><br>
                        {% for i in range(book[5]) %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ecc800" class="bi bi-star-fill" viewBox="0 0 16 16">
                          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        {% endfor %}

                        {% for i in range(5-book[5]) %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="lightgray" class="bi bi-star-fill" viewBox="0 0 16 16">
                          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        {% endfor %}
                 </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script src="../static/js/popper.min.js"></script>
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/main.js"></script>
<script>
  $(document).ready(function() {
    $('.owl-carousel').owlCarousel({
    items: 12,
    margin:10,
    loop:true,
    autoWidth:true,
        center:true,
})
});
</script>
{% endblock %}