<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../static/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../static/css/bootstrap-utilities.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/user.css">

  <title>User</title>
</head>
<body>

<!--  <div class="container-fluid">
    <div class="row p-5 header-user align-items-end">
        <div class="profile mr-3 profile-head"><img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" alt="..." width="130" class="rounded mb-2 img-thumbnail"><a href="#" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a></div>
        <div class="media-body mb-5 text-white">
            <h4 class="mt-0 mb-0">Mark Williams</h4>
            <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>New York</p>
        </div>
    </div>
</div> -->

<div class="header-user px-4 pt-0 pb-4 cover">
    <div class="media align-items-end profile-head">
        <div class="profile mr-3"><img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" alt="..." width="130" class="rounded mb-2 img-thumbnail"></div>
        <div class="media-body mb-5">
            <h4 class="mt-0 mb-0">Mark Williams</h4>
            <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>New York</p>
        </div>
    </div>
</div>

<div class="container-fluid mt-10 text-center">
    <div class="qr-container">
    <img src="../static/resources/qrtest.png">
    </div>
</div>


<div class="container-fluid mt-3 ps-4 pe-4">
    <h5>Descrizione</h5>
    <p class="small">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
</div>

</body>
</html>