 {% include 'navbar.html' %}

 <link rel="stylesheet" href="../../static/css/Login.css">

<div class="container-fluid align-items-center justify-content-center" style="height: 100%;">
    <div class="row align-items-center justify-content-center" style="height: 100%;">
        <div class="col text-center align-items-center justify-content-center left-col">
            <form id="login-form" method="post">
                <div class="align-items-center mb-3 pb-1 justify-content-center">
                    <img style="margin-bottom: 0px;" src="../../static/resources/open-magazine.png" height="52px">
                    <h2>EasyBook</h2>
                    <h6 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Easy, Fast, Free!</h6>
                </div>

                <div class="form-outline mb-4">
                    <input placeholder="Username" type="text" name="username" id="username" class="form-control form-control-lg" />
                    <!-- <label class="form-label" for="username">Username</label> -->
                </div>

                <div class="form-outline mb-4">
                    <input placeholder="Password" type="password" name="password" id="password" class="form-control form-control-lg" />
                    <!-- <label class="form-label" for="password">Password</label> -->
                </div>

                <div class="form-outline mb-4" id="loginerror">
                    <span style="color: #CC0000">Username e/o password errata/i.</span>
                </div>

                <div class="pt-1 mb-4">
                    <button id="accedi" type="submit" value="Accedi">Accedi</button>
                </div>

                <a class="small text-muted" href="#">Hai dimenticato la Password ?</a>
                <p class="mb-5 pb-lg-2" style="color: #393f81;">Non hai un account ? <a href="{{ url_for('auth.register') }}" style="color: #393f81;">Registrati.</a></p>
                <!-- <a href="#!" class="small text-muted">Termini di utilizzo</a>
                <a href="#!" class="small text-muted">Privacy policy</a> -->
            </form>
        </div>

        <div class="col right-col" style="height: 100%;">
            &nbsp;
        </div>

    </div>
</div>

 <script>

window.onload = function() {
    var error = '{{ err }}';

    if (error === 'loginerror') {
        document.getElementById('username').style.borderBottom = '2px solid red';
        document.getElementById('password').style.borderBottom = '2px solid red';
        document.getElementById('loginerror').style.display = 'inline-block';
    }
}
 </script>

 {% include 'footer.html' %}