<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="../../static/css/register.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/bootstrap-grid.css">

    <title>Registrati</title>
</head>

<body>

<div class="container-fluid h-100 p-2">
    <div class="col h-100">
        <div class="row justify-content-left h-100">
            <div class="col-md-6">
                <div class="card h-100">
                    <header class="card-header">
                        <h4 class="card-title mt-2">Registrati ed inizia ad utilizzare EasyBook</h4>
                    </header>
                    <article class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="col form-group mb-1">
                                <label>Nome </label>
                                <input type="text" class="form-control" placeholder="">
                            </div> <!-- form-group end.// -->
                            <div class="col form-group mb-1">
                                <label>Cognome</label>
                                <input type="text" class="form-control" placeholder="">
                            </div> <!-- form-group end.// -->
                        </div> <!-- form-row end.// -->
                        <div class="form-group mb-3">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="">
                            <small class="form-text text-muted">Non condivideremo con nessuno la tua email.</small>
                        </div> <!-- form-group end.// -->
                        <div class="form-group mb-3">
                            <label>Sesso</label><br>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" value="option1">
                                <span class="form-check-label"> Uomo </span>
                            </label>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" value="option2">
                                <span class="form-check-label"> Donna</span>
                            </label>
                        </div> <!-- form-group end.// -->
                        <div class="form-row mb-1">
                            <div class="form-group col-md-6">
                                <label>Citta'</label>
                                <input type="text" class="form-control">
                            </div> <!-- form-group end.// -->
                            <div class="form-group col-md-6 mb-1">
                                <label>Nazione</label>
                                <select id="inputState" class="form-control">
                                    <option>Italia</option>
                                </select>
                            </div> <!-- form-group end.// -->
                        </div> <!-- form-row.// -->
                        <div class="form-group mb-1">
                            <label>Password</label>
                            <input class="form-control" type="password">
                        </div> <!-- form-group end.// -->

                        <div class="form-group mb-1">
                            <label>Conferma password</label>
                            <input class="form-control" type="password">
                        </div>

                        <div class="form-group mb-1">
                            <button type="submit" id="registrati" class="btn btn-primary btn-block"> Registrati</button>
                        </div> <!-- form-group// -->
                        <small class="text-muted">Cliccando su registrati confermi di accettare i nostri <br> Termini di utilizzo e Privacy Policy.</small>
                    </form>
                </article> <!-- card-body end .// -->
                <div class="border-top card-body text-center">Hai un account ? <a href="">Accedi</a></div>
            </div> <!-- card.// -->
        </div> <!-- col.//-->
    </div> <!-- row.//-->
</div> <!-- col principale-->
</div> <!-- container.// -->

</body>
</html>